{
    "singleQuote": true,
    "printWidth": 200,
    "proseWrap": "always",
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "semi": true,
    "newline-before-return": false,
    "no-duplicate-variable": [
        true,
        "check-parameters"
    ],
    "no-var-keyword": true
}